<h1><a href="{{ site.url }}/">Matt Harmes</a></h1>

<p id="personal-blurb" class="text-muted">St. FX and Schulich School of Law alumnus. Leafs fan. Ticats fan. Lawyer. Dog lover. Fan of newspapers. CBC supporter. Amateur rails/ruby hacker.</p>

<div id="social-links">
  <a href="http://ca.linkedin.com/in/mattharmes/"><i class="icon-linkedin icon-2x"></i></a>
  <a href="https://github.com/harmesy"><i class="icon-github icon-2x"></i></a>
  <a href="https://twitter.com/@harmesy"><i class="icon-twitter icon-2x"></i></a>
</div>

<!--<div id="gpg-key" class="text-muted">
</div>-->
