<h1><a href="{{ site.url }}/">Matt Harmes</a></h1>

<p id="personal-blurb" class="text-muted">Schulich School of Law and Saint Francis Xavier Alumnus. Toronto Maple Leafs and Hamilton Ticats fan. Apparent fan of misery.</p>

<div id="social-links">
  <a href="http://ca.linkedin.com/in/mattharmes/"><i class="icon-linkedin icon-2x"></i></a>
  <a href="https://github.com/harmesy"><i class="icon-github icon-2x"></i></a>
  <a href="https://twitter.com/@harmesy"><i class="icon-twitter icon-2x"></i></a>
</div>

<div id="gpg-key" class="text-muted">
  Get my public GPG <a href="/pub_key.asc">key</a>.
</div>