#reading-progress {
  height: 4px;
  border-radius: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
}

#sidebar {
  text-align: center;
  margin-top: 100px;
  position: fixed;
}

#personal-blurb {
  padding: 10px;
}

#social-links a {
  text-decoration: none;
  color: inherit;
  padding: 0 4px;
}

#content {
  margin-top: 40px;
  margin-bottom: 40px;
}

#content h2 a {
  color: inherit;
  transition: color 400ms ease;
}

#content h2 a:hover {
  color: #c7254e;
  text-decoration: none;
}