#sidebar {
  text-align: center;
}

#sidebar a {
  text-decoration: none;
  color: inherit;
}

#personal-blurb {
  margin: 10px;
}

#social-links a {
  margin: 0 8px;
  transition: opacity 400ms ease;
}

#social-links a:hover {
  opacity: .8;
}

#gpg-key {
  margin-top: 20px;
}

#gpg-key a {
  color: #73152e;
  transition: color 400ms ease;
}

#content {
  margin-top: 40px;
}

#content h2 a {
  color: inherit;
  transition: color 400ms ease;
}

#content h2 a:hover, #gpg-key a:hover {
  color: #c7254e;
  text-decoration: none;
}

@media (min-width: 992px) {
  .fixed-sidebar {
    padding-top: 100px;
    position: fixed;
    background: rgba(201, 225, 235, 0.3);
    height: 100%;
    -moz-box-shadow: inset -10px 0 20px -10px rgba(56, 60, 65, 0.25);
    -webkit-box-shadow: inset -10px 0 20px -10px rgba(56, 60, 65, 0.25);
    box-shadow: inset -10px 0 20px -10px rgba(56, 60, 65, 0.25);
}
  }

  .post {
    padding-left: 40px;
  }
}

.post {
  margin: 40px 0;
}
