#reading-progress {
  height: 4px;
  border-radius: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
}

#sidebar {
  text-align: center;
}

#sidebar a {
  text-decoration: none;
  color: inherit;
}

#personal-blurb {
  margin: 10px;
}

#social-links a {
  margin: 0 8px;
  transition: opacity 400ms ease;
}

#social-links a:hover {
  opacity: .8;
}

#content {
  margin-top: 40px;
}

#content h2 a {
  color: inherit;
  transition: color 400ms ease;
}

#content h2 a:hover {
  color: #c7254e;
  text-decoration: none;
}

@media (min-width: 992px) {
  .fixed-sidebar {
    margin-top: 100px;
    position: fixed;
  }

  .post {
    padding-left: 40px;
  }
}

.post {
  margin: 40px 0;
}